.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageHeader {
  display: flex;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(245, 241, 241);
  color: black;
  max-width: 300px;
}

.messageFooter {
  font-size: 12px;
  margin-top: 10px;
}

.message.self {
  align-items: flex-end;
}

.message.self .messageText {
  background-color: #1877f2;
  color: white;
}
